body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: #56ab2f ; */
  /* → #a8e063 */
  /* background-color: #00a4ccff; */
  /* background-color: #21f3c7;
  background-color: #f7ab79; */
  /* background-color: #fee715ff;
  background-color: #ADEFD1FF; */



}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
